<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Home Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Inventory</title>

</head>

<body>
<div th:insert="fragments/header :: header"></div>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #343A40; color: white;">
  <a class="navbar-brand">Inventory Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="/">Home
        <span class="sr-only"></span>
      </a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/categories}">List Categories</a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/categories/new}">Create Category</a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/products}">List Products</a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/products/new}">Create Product</a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/brands}">List Brands</a></li>
      <li class="nav-item active"><a class="nav-link"
                                     th:href="@{/brands/new}">Create Brands</a></li>
      <li>
        <form th:action="@{/logout}" method="post">
          <input type="submit" value="Logout" />
        </form>
      </li>

    </ul>
  </div>
</nav>
</body>
</html>